<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet_program</display-name>
  <welcome-file-list>
    <welcome-file> register.jsp </welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>a</servlet-name>
    <servlet-class>com.abc.Intex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/webt1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>a1</servlet-name>
    <servlet-class>com.login.login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>a2</servlet-name>
    <servlet-class>com.login1.login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a1</servlet-name>
    <url-pattern>/webt2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>a2</servlet-name>
    <url-pattern>/webt3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>a4</servlet-name>
    <servlet-class>com.redirect.redirect1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>a6</servlet-name>
    <servlet-class>com.redirect1.redirect2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a4</servlet-name>
    <url-pattern>/webt4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>a6</servlet-name>
    <url-pattern>/web0</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>a7</servlet-name>
    <servlet-class>com.config.servletconfig</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>a7</servlet-name>
    <url-pattern>/webt8</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>attribute1</servlet-name>
    <servlet-class>com.attribute.attribute1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attribute1</servlet-name>
    <url-pattern>/attribute1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>attribute2</servlet-name>
    <servlet-class>com.attribute1.attribute2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>attribute2</servlet-name>
    <url-pattern>/attribute2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>A11</servlet-name>
    <url-pattern>/rag1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>A11</servlet-name>
    <servlet-class>com.ragister.ragister1</servlet-class>
  </servlet>
  <filter>
    <filter-name>filter1</filter-name>
    <filter-class>com.filter.filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter1</filter-name>
    <url-pattern>/p1</url-pattern>
    <url-pattern>/p2</url-pattern>
  </filter-mapping>
</web-app>